body{
    
    margin: 0;
   background-color: #e0e0e0;
}
header{
    top: 0;
    background-color: rosybrown;
    width: 100%;
    display: flex;
position: fixed;
justify-content: space-between;
align-items: center;

    
}
header img{
    height: 60px;
    width: 60px;

}
header a {
    margin-right: 2%;
    color: #000;
    text-decoration: none;

    
}
footer{
    background-color: rosybrown;    
    width: 100%;
    position: fixed;
    justify-content: space-between;
bottom: 0;
display: flex;
align-items: center;

   
    
}
footer  a{
    margin-left: 1%;
    margin-top: 1%;
    text-decoration: none;
    color: #000;
}
footer p{
    margin-top: 2%;
    font-size: 10px;
}
footer div{
    margin-right: 3%;
    margin-top: 1%;
}
.formInput{
    border-left: 1px solid black;
}
.detail{   
 justify-content: space-around;
    display: flex;
    margin-top:10% ;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
   
    flex-direction: row;
}
.radissonDetail{
    margin-left: 10px;
    
}

 form{   
    margin: auto 20px;    
    text-align: justify;
    
}
form input{
    margin-left: 25px;
    
}
form button{
    margin-left:  35%;
}

