body{
    margin: 0;
   background-color: #e0e0e0;
   
   
}


header{
    top: 0;
    background-color: rosybrown;
    width: 100%;
    display: flex;
position: fixed;
justify-content: space-between;
align-items: center;
    
}
header img{
    height: 60px;
    width: 60px;

}
header a {
    margin-right: 2%;
    text-decoration: none;
    color: #000;
    
}
 ul{
    list-style: none;
    font-weight: bold;
    margin: 50px;
    display: flex;
    justify-content: center;
   
    
}
ul li{
    margin: 10px;
}
ul li a{
    text-decoration: none;
}


footer{
    background-color: rosybrown;    
    width: 100%;
    position: fixed;
    justify-content: space-between;
bottom: 0;
display: flex;

   
    
}
footer  a{
    margin-left: 1%;
    margin-top: 1%;
    text-decoration: none;
    color: #000;
}
footer p{
    margin-top: 2%;
    font-size: 10px;
}
footer div{
    margin-right: 3%;
    margin-top: 1%;
}

.contentslist{    
   display: flex;
   align-items: center;
   justify-content: center;
   

    
} 
.detailist{
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    text-align:justify;
    
} 
    
    
    
    
/* }
.detailist{
    background-color:rgb(132,136,139);
    display: flex;
    flex-direction: row;
   margin-left: 12px;
   background-color: lightgray;
   height: 25vh;
   overflow: hidden;
} */


