body{
    margin: 0;
    background-color: #e0e0e0;
   
}

header{
    background-color: rosybrown;
    width: 100%;
    display: flex;
    justify-content: space-between;
position: fixed;
top: 0px;
align-items: center;
    
}
.logo{
    margin-right: 12px;
}
header img{
    height: 50px;
    width: 60px;
   

}
footer{
    background-color: rosybrown;    
    width: 100%;
    position: fixed;
    justify-content: space-between;
bottom: 0;
display: flex;
align-items: center;
   
    
}
footer  a{
    margin-left: 1%;
    margin-top: 1%;
    text-decoration: none;
    color: #000;
}
footer p{
    margin-top: 2%;
    font-size: 10px;
}
footer div{
    margin-right: 3%;
    margin-top: 1%;
}

.hotaldetail{
    background-color: rgb(132,136,139);    
    display: flex;
    justify-content: flex-start;
    align-items:center;
   margin: 8% auto;
   width: 50%;
   border-radius: 10px;
   overflow: hidden;

}
.hotalBlur{
    margin:auto 20px ;
    text-align: justify;
}
.contaner{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: -2%;
    margin: 3%;
    background-color: rosybrown;
    border-radius: 5px;
   
}
.customerDetail{
    word-spacing: 2px;
    font-family: serif; 
    text-align: justify;
    
}

.pay{
    margin-top: 5.5% ;
}
.customerPrice{    
    margin-top: 3%;
    text-align: justify;
    
        
    
 
 }