body{
    margin: 0;
    background-color: #e0e0e0;
   
}

header{
    background-color: rosybrown;
    width: 100%;
    display: flex;
    justify-content: space-between;
position: fixed;
top: 0px;
    
}
.logo{
    margin-right: 12px;
}
header img{
    height: 50px;
    width: 60px;
   

}
footer{
    background-color: rosybrown;    
    width: 100%;
    position: fixed;
    justify-content: space-between;
bottom: 0;
display: flex;

   
    
}
footer  a{
    margin-left: 1%;
    margin-top: 1%;
}
footer p{
    margin-top: 2%;
    font-size: 10px;
}
footer div{
    margin-right: 3%;
    margin-top: 1%;
}

.hotaldetail{
    background-color: rgb(132,136,139);
    height: 20%;
    width: 50%;
    margin: auto;
    margin-top: 2%;

}
.customerDetail{
    margin-left: 2%;
}
.customerPrice{    
   margin: 2%;
   border: 1px solid;
    padding: 4px;    
    border-radius: 1px;

}